{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path }}

  {{- /* 兼容处理 VS Code 自动生成的资产路径 */ -}}
  {{- if strings.HasPrefix $path "../../assets/" -}}
    {{- $path = strings.TrimPrefix "../../assets/" $path -}}
  {{- else if strings.HasPrefix $path "/assets/" -}}
    {{- $path = strings.TrimPrefix "/assets/" $path -}}
  {{- else if strings.HasPrefix $path "assets/" -}}
    {{- $path = strings.TrimPrefix "assets/" $path -}}
  {{- end -}}

  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
    {{- $src = .RelPermalink -}}
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $attributes := merge .Attributes (dict "alt" .Text "src" $src "title" (.Title | transform.HTMLEscape) "loading" "lazy") -}}
<img
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}>
{{- /**/ -}}
