{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path }}
  {{- $staticPath := "" -}}

  {{- /* 兼容 VS Code / Trae 粘贴图片到 static 目录后生成的本地相对路径 */ -}}
  {{- if strings.HasPrefix $path "../../static/" -}}
    {{- $staticPath = strings.TrimPrefix "../../static/" $path -}}
  {{- else if strings.HasPrefix $path "/static/" -}}
    {{- $staticPath = strings.TrimPrefix "/static/" $path -}}
  {{- else if strings.HasPrefix $path "static/" -}}
    {{- $staticPath = strings.TrimPrefix "static/" $path -}}
  {{- end -}}

  {{- if ne $staticPath "" -}}
    {{- $src = printf "/%s" $staticPath -}}
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}
    {{- end -}}
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}
  {{- else -}}
    {{- /* 兼容旧版 assets/imgs 工作流：../../assets/imgs/foo.png -> assets 资源管线 */ -}}
    {{- if strings.HasPrefix $path "../../assets/" -}}
      {{- $path = strings.TrimPrefix "../../assets/" $path -}}
    {{- else if strings.HasPrefix $path "/assets/" -}}
      {{- $path = strings.TrimPrefix "/assets/" $path -}}
    {{- else if strings.HasPrefix $path "assets/" -}}
      {{- $path = strings.TrimPrefix "assets/" $path -}}
    {{- end -}}

    {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
      {{- $src = .RelPermalink -}}
      {{- with $u.RawQuery -}}
        {{- $src = printf "%s?%s" $src . -}}
      {{- end -}}
      {{- with $u.Fragment -}}
        {{- $src = printf "%s#%s" $src . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $attributes := merge .Attributes (dict "alt" .Text "src" $src "title" (.Title | transform.HTMLEscape) "loading" "lazy") -}}
<img
  {{- range $k, $v := $attributes -}}
    {{- if $v -}}
      {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
    {{- end -}}
  {{- end -}}>
{{- /**/ -}}
